In [1]:
# Let's import all the required libraries

from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys

# Question 7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [43]:
#Let's call the Function Definition

def iphone_100_review(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    time.sleep(5)
    
    # Let's create empty list for storing the data
    rating=[]
    review_summary=[]
    full_review=[]
    
    # Let's scrape the data
    j=0
    while j<10:
    
        ratings=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        for i in ratings:
            rating.append(i.text)
        
        reviews=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        for i in reviews:
            review_summary.append(i.text)
        
        full_reviews=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        for i in full_reviews:
            full_review.append(i.text)
        time.sleep(10)    
        
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        time.sleep(10)
        j+=1
        time.sleep(10)
    
    # Let's create a DataFrame for our data
    iphone_review=pd.DataFrame({})
    iphone_review['Rating']=rating
    iphone_review['Review Summary']=review_summary
    iphone_review['Full Reviews']=full_review
    return iphone_review

In [44]:
# Let's call the Calling Function

iphone_100_review('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace')

,Rating,Review Summary,Full Reviews
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
...,...,...,...
95,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
96,5,Wonderful,This is my first ever I phone. Before this I w...
97,5,Must buy!,It’s an amazing product from apple and the cam...
98,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
99,5,Mind-blowing purchase,This will help you more. See if you are planni...

# Question 8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [45]:
#Let's call the Function Definition

def flip_sneakers(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    
    #Let's navigate to search bar
    driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
    time.sleep(3)
    
    #Let's search for sneaker product and then click search button
    driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sneakers')
    driver.find_element_by_xpath('//button[@type="submit"]').click()
    time.sleep(3)
    
    # Let's create empty list for storing the data
    sneaker_brand_name=[]
    sneaker_description=[]
    sneaker_price=[]
    sneaker_discount=[]
    
    # Let's scrape the data
    j=0
    while j<3:
        time.sleep(3)
        brands=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for brand in brands:
            sneaker_brand_name.append(brand.text)
        
        descriptions=driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
        for description in descriptions:
            sneaker_description.append(description.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for price in prices:
            sneaker_price.append(price.text)
        
        discounts=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
        for discount in discounts:
            sneaker_discount.append(discount.text)
        if j==0:
            driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        elif j==1:
            driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()
        else:
            pass
        j+=1
        
    # Let's create a DataFrame for our data   
    sneakers_flipkart=pd.DataFrame({})
    sneakers_flipkart['Brand Name']=sneaker_brand_name[:100]
    sneakers_flipkart['Product Descriptions']=sneaker_description[:100]
    sneakers_flipkart['Price']=sneaker_price[:100]
    sneakers_flipkart['Discount %']=sneaker_discount[:100]
    return sneakers_flipkart

In [46]:
# Let's call the Calling Function

flip_sneakers('https://www.flipkart.com/')

,Brand Name,Product Descriptions,Price,Discount %
0,JEETLAV,Sneakers For Men,₹349,65% off
1,BRUTON,Combo Pack Of 4 Casual Sneakers For Men,₹424,89% off
2,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹499,72% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹399,60% off
4,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
...,...,...,...,...
95,Chevit,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,₹759,60% off
96,Ktiz,Sneakers For Men,₹399,60% off
97,ROCKFIELD,Sneakers For Men,₹396,36% off
98,Jack Diamond,Sneakers For Men,₹635,62% off
99,Bucik,Black Casual Shoes Synthetic Leather for Men S...,₹749,57% off

# Question 9: Go to the link -
https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [47]:
#Let's call the Function Definition

def shoes_myntra(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    time.sleep(5)
    
    # Let's create empty list for storing the data
    brand_name=[]
    description=[]
    product_price=[]
    
    #Let's apply filter for price
    driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]').click()
    time.sleep(3)
    
    #Let's apply filter for colour
    driver.find_element_by_xpath('//span[@data-colorhex="black"]').click()
    time.sleep(3)
    
    # Let's scrape the data
    j=0
    while j<2:
        time.sleep(5)
        
        brands=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
        for q in brands:
            brand_name.append(q.text)
        
        descs=driver.find_elements_by_xpath('//h4[@class="product-product"]')
        for q in descs:
            description.append(q.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="product-price"]')
        for q in prices:
            product_price.append(q.text)
        
        driver.find_element_by_xpath('//a[@rel="next"]').click()    
        time.sleep(5)
        j+=1
    
    # Let's create a DataFrame for our data
    myntra_shoes=pd.DataFrame({})
    myntra_shoes['Brand of the Shoes']=brand_name[0:100]
    myntra_shoes['Short Shoes Description']=description[0:100]
    myntra_shoes['Price of the Shoes']=product_price[0:100]
    return myntra_shoes

In [48]:
# Let's call the Calling Function

shoes=shoes_myntra('https://www.myntra.com/shoes')
shoes

,Brand of the Shoes,Short Shoes Description,Price of the Shoes
0,ADIDAS Originals,Men Superstar Sneakers,Rs. 8799Rs. 10999(20% OFF)
1,Nike,Men JORDAN DELTA Basketball,Rs. 12495
2,UNDER ARMOUR,Men Charged Impulse Knit,Rs. 8999
3,Puma,Men Running Shoes,Rs. 7499
4,Nike,Men KD13 EP Basketball Shoes,Rs. 12995
...,...,...,...
95,PUMA Motorsport,Unisex Woven-Design Sneakers,Rs. 7999
96,Saint G,Women Leather Heeled Boots,Rs. 9900
97,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 9999
98,Heel & Buckle London,Men Leather Monk Shoes,Rs. 9793Rs. 13990(30% OFF)
99,Heel & Buckle London,Women Leather Pumps,Rs. 7192Rs. 8990(20% OFF)

# Question 10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”.
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [51]:
#Let's call the Function Definition

def laptop(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    
    
    # Let's create empty list for storing the data
    item_title=[]
    price=[]
    rating=[]
    
    #Let's search for laptop product and then click search button
    driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]').send_keys('Laptop')
    driver.find_element_by_xpath('//input[@type="submit"]').click()
        
    #Let's apply filter for "Intel Core i7"
    driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a',).click()
    time.sleep(5)
    
    #Let's apply filter for "Intel Core i9"  
    driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a').click()
        
    # Let's scrape the data
    titles=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
    for i in titles:
        item_title.append(i.text)
    prices=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
    for i in prices:
        price.append(i.text)
    ratings=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')   
    for i in ratings:
        rating.append(i.get_attribute('aria-label'))
        
    # Let's create a DataFrame for our data
    amazon_laptops=pd.DataFrame({})
    amazon_laptops['Title']=item_title[:10]
    amazon_laptops['Price']=price[:10]
    amazon_laptops['Rating']=rating[:10]
    return amazon_laptops

In [52]:
# Let's call the Calling Function

laptop('https://www.amazon.in/')

,Title,Price,Rating
0,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,"86,990",4.6 out of 5 stars
1,MSI GL65 Leopard 10SDK-069IN Intel Core i7-107...,"1,20,240",3.0 out of 5 stars
2,Dell Alienware m15(R3) 15.6-inch FHD Gaming La...,"1,98,590",3.0 out of 5 stars
3,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,"2,77,390",3.3 out of 5 stars
4,(Renewed) HP EliteBook 820 G4 Laptop (CORE I5 ...,"40,790",4.6 out of 5 stars
5,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,"76,500",4.1 out of 5 stars
6,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"83,077",4.3 out of 5 stars
7,"Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...","49,999",1.0 out of 5 stars
8,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"47,190",4.3 out of 5 stars
9,(Renewed) Lenovo Thinkpad Yoga S1 Laptop (CORE...,"1,35,490",3.0 out of 5 stars